<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE</title>

    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        
        <h1>{{ mayusTexto }}</h1>
        <h2 class="bg-dark"
            :class="colorCantidad"
        >
            Mi saldo disponible es: ${{ cantidad }}
        </h2>
        <a v-bind:href="enlace">Ir al enlace</a>
        <!--<a :href="enlace">Ir al enlace</a>-->

        <hr>

        <h2 v-if="estado"> Cuenta Activa </h2>
        <h2 v-else>Cuenta Desactivada</h2>

        <hr>

        <h2 v-if="cantidad > 500">Cantidad: ${{ cantidad }}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad: $
            <span style="color:red">{{ cantidad }}</span>
        </h2>
        <h2 v-else>Sin Saldo disponible: ${{cantidad}}</h2>

        <hr>
        <h2>Mis servicios disponibes:</h2>
        <ul>
            <li v-for="(item, index) in servicios" :key="index">{{ index + 1 }} - {{ item }}</li>
        </ul>
        
        <hr>

        <!--<button v-on:click="agregarSaldo">Agregar Saldo</button>-->
        <button @click="agregarSaldo">Agregar Saldo</button> | 
        <button @click="restaSaldo(500)" :disabled="desactivar">Resta Saldo</button>

        <footer-banck 
            cantidad="700" 
            fecha="septiembre 2020"
        />
    </div>

    <script src="main.js"></script>
    <script src="components/Footer.js"></script>
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>